<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>로그인 페이지</h2>
    <!--
        데이터전송방식 : get(기본값), post
        쿼리스트링
        http://localhost:3203/loginPro?id=qwer&pw=1111
    -->
    <form action="loginPro">
        아이디 : <input type="text" name="id"><br>
        비번 : <input type="password" name="pw"><br>
        <input type="submit" value="로그인">    
    </form>
</body>
</html>