.intro {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  z-index: 55;
  background-color: var(--main-color);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0;
  transition: all 0.5s;
  text-align: center;
  overflow: hidden;
}

.intro img {
  width: 80%;
}

#main header {
  box-shadow: none;
  background-color: rgba(255, 255, 255, 0);
}

#main .intro .logo {
  width: 60%;
}

#main .info {
  position: relative;
  background: #fff;
  border-radius: 10px 10px 0 0;
  margin: -10px 0 30px 0;
  padding: 30px 15px 0;
  z-index: 5;
}

#main .info .nameBox{
  font-size: var(--main-font-size);
}

#main .info .name{
  font-weight: bold;
}

#main section {
  margin-bottom: 40px;
}

#main .wrapBg .infoMenu {
  display: flex;
  justify-content: flex-start;
  background: #eeeeee;
  padding: 15px;
  border-radius: 5px;
  margin-top: 15px;
}

#main .wrapBg .infoMenu li {
  margin-right: 15px;
}

#main .wrapBg .infoMenu i {
  margin-right: 5px;
}

#main .wrapBg .infoMenu .stampCount {
  margin-left: 5px;
}

#main .wrap_bg .info_menu {
}

#main .sub1SlideWarp {
  padding: 0 15px;
}

#main .sub1Slide .swiper-pagination {
  width: auto;
  color: #fff;
  padding: 5px 8px 3px;
  border-radius: 20px;
  background-color: rgba(0, 0, 0, 0.7);
  top: auto;
  left: auto;
  right: 25px;
  bottom: 15px;
}

#main .sugestionMenu {
  padding: 0 15px;
  margin-bottom: 30px;
  overflow: visible;
}

#main .sugestionMenu .swiper-slide {
  text-align: center;
}

#main .sugestionMenu .swiper-slide img {
  border-radius: 100%;
  border: 1px solid var(--basic-bg-color);;
}

#main .sugestionMenu .swiper-slide .title {
  margin-top: 10px;
  font-size: 1em;
  text-overflow:ellipsis;
  white-space: nowrap; 	
  word-break:break-all;
  overflow: hidden;
  line-height: initial;
}

#main .sub2Slide {
  padding: 0 15px;
}

#main .sugestionMenu h3,
#main .sub2Slide h3 {
  font-weight: bold;
  margin-bottom: 15px;
  line-height: initial;
  font-size: var(--main-font-size);
}

.barcordBox {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
}

.barcordBox .barcordInner {
  width: 90%;
  max-width: 400px;
  position: relative;
  border-radius: 10px;
  background-color: #fff;
  padding: 15%;
  box-sizing: border-box;
  text-align: center;
}
.barcordBox .barcordInner .closeBtn {
  font-size: 3em;
  color: #ccc;
  position: absolute;
  top: -15%;
  left: 50%;
  transform: translateX(-50%);
}
.barcordBox .barcordInner .logo {
  width: 50%;
}

.barcordBox .barcordInner h3 {
  margin: 15px 0;
  font-size: var(--main-font-size);
  font-weight: bold;
}

.barcordBox .barcordInner .barcord {
  margin: 5px 0 25px;
}

.barcordBox .barcordInner p .tip {
  background-color: var(--tip-bg-color);
  color: var(--tip-font-color);
  font-size: var(--basic-font-size);
  font-weight: bold;
  padding: 3px 5px;
  border-radius: 20px;
}
