<div class="navbar navbar-expand-md " aria-label="Third navbar example">
    <div class="container container">
   
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" 
        data-bs-target="#navbarsExample03" aria-controls="navbarsExample03" 
        aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
  
        <div class="collapse navbar-collapse " id="navbarsExample03">
            <ul class="navbar-nav me-auto">
              <li class="nav-item dropdown me-2">
                  <a class="nav-link dropdown-toggle" href="#" id="dropdown01"data-bs-toggle="dropdown">전체메뉴</a>
                  <ul class="dropdown-menu" aria-labelledby="dropdown01">
                      <li><a class="dropdown-item" href="#">베스트</a></li>
                      <li><a class="dropdown-item" href="#">OS</a></li>
                      <li><a class="dropdown-item" href="#">프로그래밍</a></li>
                      <li><a class="dropdown-item" href="#">컴퓨터공학</a></li>
                  </ul>
              </li>
              <li class="nav-item me-2"><a class="nav-link" href="">베스트</a></li>
              <li class="nav-item me-2"><a class="nav-link" href="">OS</a></li>
              <li class="nav-item me-2"><a class="nav-link" href="">프로그래밍</a></li>
              <li class="nav-item me-2"><a class="nav-link" href="">컴퓨터공학</a></li>
          </ul>
          <ul class="navbar-nav ">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="검색어를 입력하세요.">
                <button type="submit" class="btn btn-secondary">검색</button>
            </div>
          </ul>
                    
        </div>
      </div> 
    </div>
  </div>