@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap");
body {
  --preset--color--black: #000000;
  --preset--color--cyan-bluish-gray: #abb8c3;
  --preset--color--white: #ffffff;
  --preset--color--pale-pink: #f78da7;
  --preset--color--vivid-red: #cf2e2e;
  --preset--color--luminous-vivid-orange: #ff6900;
  --preset--color--luminous-vivid-amber: #fcb900;
  --preset--color--light-green-cyan: #7bdcb5;
  --preset--color--vivid-green-cyan: #00d084;
  --preset--color--pale-cyan-blue: #8ed1fc;
  --preset--color--vivid-cyan-blue: #0693e3;
  --preset--color--vivid-purple: #9b51e0;
  --preset--color--type-01: #001EFF;
  --preset--color--type-02: #FFE100;
  --preset--color--type-03: #FFF6B3;
  --preset--color--type-04: #666666;
  --preset--color--type-05: #EEEEEE;
  --preset--color--type-06: #191919;
  --preset--gradient--vivid-cyan-blue-to-vivid-purple: linear-gradient(135deg, rgba(6, 147, 227, 1) 0%, rgb(155, 81, 224) 100%);
  --preset--gradient--light-green-cyan-to-vivid-green-cyan: linear-gradient(135deg, rgb(122, 220, 180) 0%, rgb(0, 208, 130) 100%);
  --preset--gradient--luminous-vivid-amber-to-luminous-vivid-orange: linear-gradient(135deg, rgba(252, 185, 0, 1) 0%, rgba(255, 105, 0, 1) 100%);
  --preset--gradient--luminous-vivid-orange-to-vivid-red: linear-gradient(135deg, rgba(255, 105, 0, 1) 0%, rgb(207, 46, 46) 100%);
  --preset--gradient--very-light-gray-to-cyan-bluish-gray: linear-gradient(135deg, rgb(238, 238, 238) 0%, rgb(169, 184, 195) 100%);
  --preset--gradient--cool-to-warm-spectrum: linear-gradient(135deg, rgb(74, 234, 220) 0%, rgb(151, 120, 209) 20%, rgb(207, 42, 186) 40%, rgb(238, 44, 130) 60%, rgb(251, 105, 98) 80%, rgb(254, 248, 76) 100%);
  --preset--gradient--blush-light-purple: linear-gradient(135deg, rgb(255, 206, 236) 0%, rgb(152, 150, 240) 100%);
  --preset--gradient--blush-bordeaux: linear-gradient(135deg, rgb(254, 205, 165) 0%, rgb(254, 45, 45) 50%, rgb(107, 0, 62) 100%);
  --preset--gradient--luminous-dusk: linear-gradient(135deg, rgb(255, 203, 112) 0%, rgb(199, 81, 192) 50%, rgb(65, 88, 208) 100%);
  --preset--gradient--pale-ocean: linear-gradient(135deg, rgb(255, 245, 203) 0%, rgb(182, 227, 212) 50%, rgb(51, 167, 181) 100%);
  --preset--gradient--electric-grass: linear-gradient(135deg, rgb(202, 248, 128) 0%, rgb(113, 206, 126) 100%);
  --preset--gradient--midnight: linear-gradient(135deg, rgb(2, 3, 129) 0%, rgb(40, 116, 252) 100%);
  --preset--font-size--small: 13px;
  --preset--font-size--medium: 20px;
  --preset--font-size--large: 36px;
  --preset--font-size--x-large: 42px;
}

html {
  font-size: 6.25%;
}

body {
  width: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
  font-family: "Noto Sans KR", sans-serif;
  font-size: 16rem;
  word-break: keep-all;
  color: #191919;
}

a {
  color: #191919;
  text-decoration: none;
}

.hidden {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: inset(0px 0px 99.9% 99.9%);
  clip-path: inset(0px 0px 99.9% 99.9%);
  overflow: hidden;
  height: 1px;
  width: 1px;
  padding: 0;
  border: 0;
}

#header {
  width: 100%;
  height: 74rem;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
}
#header .header_inner {
  width: 1500rem;
  position: relative;
  height: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#header .header_inner #logo svg path {
  fill: #fff;
}
#header .header_inner nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
}
#header .header_inner nav ul li {
  margin: 0 40rem;
}
#header .header_inner nav ul li a {
  font-weight: bold;
  color: #fff;
}
#header .header_inner .header__career-circle {
  width: 22rem;
  height: 22rem;
  background: #eee;
  border-radius: 50%;
  display: inline-block;
  vertical-align: bottom;
  position: relative;
  transition: background cubic-bezier(0.22, 0.61, 0.36, 1) 0.3s;
}
#header .header_inner .header__career-circle:hover {
  background: #FFE100;
}
#header .header_inner .header__career-circle .ke-guide--icon {
  display: block;
  width: 10rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
}
#header .header_inner .header__career-circle .ke-guide--icon svg {
  transition: transform 0.4s;
}
#header .header_inner .header__career-circle .ke-guide--icon svg path {
  stroke: #888;
  transition: stroke cubic-bezier(0.22, 0.61, 0.36, 1) 0.3s;
}
#header .header_inner .header__career-circle .ke-guide--icon .header__career-circle-hover {
  position: absolute;
}
#header .header_inner .header__career-circle .ke-guide--icon .header__career-circle-hover svg {
  transform: translate3d(-22rem, 22rem, 0);
}

#main section {
  padding-bottom: 200rem;
}
#main section .wrap {
  max-width: 1244rem;
  margin: 0 auto;
  position: relative;
}

.btn__basic {
  display: inline-block;
  vertical-align: middle;
  min-width: 220rem;
  padding: 16rem 40rem 17rem;
  position: relative;
  text-align: center;
  font-size: 16rem;
  font-weight: 600;
  line-height: 1;
  letter-spacing: -0.01em;
  color: #fff;
  background: transparent;
  border: 3rem solid #fff;
  border-radius: 30rem;
  transition: color 0.3s, background 0.3s, border 0.3s;
  transition-timing-function: cubic-bezier(0.22, 0.61, 0.36, 1);
}

.ke-guide--icon svg {
  display: block;
  width: 100%;
  height: auto;
}/*# sourceMappingURL=layout.css.map */